
PCA components.svg
.ipynb_checkpoints/Stitcher-checkpoint.ipynb
.ipynb_checkpoints/PCA for de-gridding-checkpoint.ipynb
brightness_checker_stitch.png
brightness_checker_stitch_2.png
stitched_thresholded.tif
brightness_checker_stitch_3.png
brightness_checker_stitch_4.png
stitched_thresholded_gmean.tif
stitched_thresholded_gmean_multiorigin.tif