
PCA components.svg
.ipynb_checkpoints/Stitcher-checkpoint.ipynb
.ipynb_checkpoints/PCA for de-gridding-checkpoint.ipynb
brightness_checker_stitch.png
brightness_checker_stitch_2.png
stitched_thresholded.tif
brightness_checker_stitch_3.png
brightness_checker_stitch_4.png
stitched_thresholded_gmean.tif
stitched_thresholded_gmean_multiorigin.tif
brightness_checker_priority.png
stitched_thresholded_priority.tif
brightness_checker_full_crystal.png
stitched_thresholded_full_crystal.tif
bottom_right_origin.png
bottom_right_origin_thresholded.tif
difference.tif
top_left_origin.png
top_left_origin_thresholded.tif
.ipynb_checkpoints/Mapper-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
John1_curve_4points_png_test.png
John1_gridlines_check.tif
John1_gridlines_marked.png
John1_gridlines_marked.tif
un_brightened_thresh_wt1.png
un_brightened.png
un_brightened_denoised_wt01.png
un_brightened_denoised_wt1.png
un-brightened_thresh.tif
un-brightened_strong_thresh.tif
trans_gen_grid.tif
translated_genetic.png
translated_genetic_again.png
tedge_sep.png
top_left_edge_inc.png
top_left_edge_inc_thresholded.tif
expected_intensities.tif
intensity_comparison.tif
intensity_comparison_wide.tif
line_removed.png
calib_trans_calib.tif
calibration_translation.png
checking_fullgrid_thresh.tif
checking_the_check.png
denoising_default.png
denoising_weight1.png
checking_grid_thresh.tif
edge_sep_strong_thresh.tif
edge_sep_thresh.tif
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
Untitled1.ipynb